$primary-color: #007bff;
$button-color: #FDBC11;
$button-text-color: #000;
$white: #ffffff;
$error-color: #ff0000;
$border-color: #ddd;
$card-border-radius: 8px;
$light-orange: #FDBC11;
$light-gray: #808080;
$lighter-gray: #f0f0f0;



