@import './variables';

$grid-gap: 1rem;
$card-border-color: #ddd;
$card-border-radius: 8px;
$button-color: #FDBC11;
$white: #fff;
$border-color: #ddd;
$primary-color: #007bff;
$lighter-gray: #f0f0f0; 
$button-blue: #0056b3; 

.game-list-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;

  @media (min-width: 428px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
  }
}

.search-and-filters {
  margin-bottom: 15px;
  @media (min-width: 428px) {
    width: 300px;
    order: 1;
  }
}

.game-grid-section {
  flex-grow: 1;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @media (min-width: 428px) {
    margin: 0;
    max-width: calc(100% - 315px);
    order: 0; 
  }
}

.mobile-header {
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  
  @media (min-width: 428px) {
    display: none;
  }
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .clear-search {
    position: absolute;
    right: 30px; 
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #666;
    }
  }

  .search-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
  }
}

.toggle-filters-button {
  width: 100%;
  background: none;
  border: none;
  color: $button-blue;
  cursor: pointer;
  text-align: left;
  margin-top: 15px;
  font-weight: bold;
  padding: 10px 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 16px;

  .icon, .filter-icon {
    margin-right: 10px;
    font-size: 20px;
    color: $button-blue;
  }

  &:hover {
    color: darken($button-blue, 10%);

    .icon, .filter-icon {
      color: darken($button-blue, 10%);
    }
  }

  &:active {
    transform: translateY(1px);
  }

  @media (min-width: 428px) {
    display: none;
  }
}

.filters-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0px;

  &.show {
    margin-bottom: 15px;
    max-height: 1000px; 
  }

  .filters {
    padding: 15px;
  }

  @media (min-width: 428px) {
    max-height: none;
    overflow: visible;
    margin-top: 15px;
  }

  .search-container {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;

    input {
      flex-grow: 1;
      padding: 10px;
      border: none;
      outline: none;
    }

    .search-button {
      padding: 10px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #808080; 
    text-align: left;
    font-weight: 600; 
  }

  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 35px;

    button {
      padding: 5px 5px;
      font-size: 13px;
      background-color: transparent; 
      border: none; 
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;
      color: black; 

      @media (min-width: 428px) {
        padding: 6px 6px;
        font-size: 14px;
      }

      &:hover {
        background-color: $lighter-gray; 
      }

      &.active {
        background-color: $light-orange; 
        color: #000;
      }
    }
  }

  .columns-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 16px;
    padding: 2px;
    margin-bottom: 15px;
    width: 100%;

    button {
      flex: 1;
      background: none;
      border: none;
      padding: 5px 0;
      margin: 0 1px;
      border-radius: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: bold;
      color: #666;
      font-size: 11px;

      &:hover {
        background-color: #e0e0e0;
      }

      &.active {
        background-color: $light-orange;
        color: #000;
      }
    }
  }

  .games-amount-reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 30px;

    span {
      color: #666;
    }

    .reset-button {
      background: none;
      border: none;
      color:#666;
      cursor: pointer;
      font-weight: bold;
      padding: 5px 10px; 
      border-radius: 4px; 
      transition: all 0.3s ease; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

      &:hover {
        background-color: rgba(0, 0, 0, 0.05); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
      }

      &:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
        transform: translateY(1px); 
      }
    }
  }

  .close-filters {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #666;
    cursor: pointer;
    z-index: 10;

    @media (min-width: 428px) {
      display: none;
    }
  }
}

.game-grid {
  display: grid;
  gap: 10px;
  width: 100%;

  &.columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.columns-3, &.columns-4 {
    grid-template-columns: repeat(2, 1fr);
    
    @media (min-width: 428px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.columns-4 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .game-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    &:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s ease;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill; 
      border-radius: 4px;
      display: block;
    }
  }
}

.no-games-message {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #666;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  gap: 5px;

  li {
    a {
      padding: 8px 12px;
      border: 1px solid $border-color;
      border-radius: 4px;
      color: #000;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: inline-block;
      font-size: 14px;

      &:hover {
        background-color: $light-orange;
      }
    }

    &.active a {
      background-color: $light-orange;
      color: #000;
    }

    &.disabled a {
      color: $light-gray;
      cursor: not-allowed;
    }
  }
}

.desktop-only {
  display: none;

  @media (min-width: 428px) {
    display: block;
  }
}
