@import './variables';

$primary-color: #007bff;
$error-color: #ff0000;
$border-color: #ddd;
$button-color: #FDBC11;
$white: #fff;
$button-text-color: #000; // Added this variable for the button text color

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-logo {
    width: 60px;
  }

  form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: 700; // You can adjust the weight as needed
    }

    .input-group {
      position: relative;
      margin-bottom: 1.5rem;

      input {
        width: 100%;
        padding: 0.75rem 0.5rem;
        border: 1px solid $border-color;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1rem;

        &:focus,
        &:not(:placeholder-shown) {
          & + label {
            transform: translateY(-100%) translateY(-0.7rem) scale(0.8);
            background-color: $white;
            padding: 0 0.2rem;
          }
        }
      }

      label {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s ease-out;
        background-color: transparent;
        padding: 0 0.2rem;
        pointer-events: none;
      }

      .password-toggle {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: $border-color;
        font-size: 1.2rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: darken($border-color, 20%);
        }
      }
    }

    button[type="submit"] {
      background-color: $button-color;
      color: $button-text-color;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      font-weight: bold;
      width: 100%; // Make the button full width
      padding: 0.75rem 0.5rem; // Match input padding
      border-radius: 4px; // Match input border-radius
      font-size: 1rem; // Match input font-size

      &:hover {
        background-color: darken($button-color, 10%);
      }
    }

    .error {
      color: $error-color;
      margin-bottom: 1rem;
    }
  }
}
